* {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(156, 255, 255);
}

button {
  background-color: rgb(242, 175, 242);
  border-radius: 5px;
}

p {
  font-size: 14px;
}

/* FORM SECTION */

.app {
  display: flex;
  flex-direction: column;
  align-items: center;  
  margin-left: 20%;
  margin-right: 20%;
  font-family: Arial, Helvetica, sans-serif;
}

.app-title {
  margin-top: 20px;
  margin-bottom: 40px;
  font-size: 38px;
  text-shadow: 5px 5px 10px rgb(198, 198, 198);
}

.app-body {
  display: flex;
  
}

.app-form-section {
  display: flex;
  flex-direction: column;
  min-width: 50%;
  gap: 15px;
  padding: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

.app-forms {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

/* DISPLAY SECTION */

.displaySidebar {
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 700px;
  max-height: 600px;
  border: 1px solid black;
  gap: 30px;
  padding: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

.phone-email {
  font-weight: normal;
  font-size: 14px;
}

.section-title {
  margin-bottom: 10px;
  font-style: italic;
  text-decoration: underline;
}

.preview-gen-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.preview-name {
  font-weight: bold;
}

.preview-study {
  font-style: italic;
}

.gen-items {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.study-and-year {
  display: flex;
  justify-content: space-between;
}

.title-and-year {
  font-style: italic;
  display: flex;
  justify-content: space-between;
}

.preview-position-dates {
  font-style: normal;
}



