* {
  margin: 0;
  padding: 0;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;  
  margin-left: 20%;
  margin-right: 20%;
  font-family: Arial, Helvetica, sans-serif;
}

.app-title {
  margin-top: 20px;
  margin-bottom: 40px;
}


.app-body {
  display: flex;
  
}

.app-form-section {
  display: flex;
  flex-direction: column;
  min-width: 50%;
  gap: 30px;
  padding: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

.app-forms {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.displaySidebar {
  display: flex;
  flex-direction: column;
  width: 700px;
  border: 1px solid black;
  gap: 30px;
  padding: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

.preview-gen-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.preview-name {
  font-weight: bold;
  font-style: italic;
}

.preview-study {
  font-style: italic;
}

.study-and-year {
  display: flex;
  justify-content: space-between;
}

.title-and-year {
  font-style: italic;
  display: flex;
  justify-content: space-between;
}

