* {
  margin: 0;
  padding: 0;
}

.app {
  display: flex;
  flex-direction: column;
  margin-left: 20%;
  margin-right: 20%;
  font-family: Arial, Helvetica, sans-serif;
}

.app-body {
  display: flex;
  gap: 100px;
}

.app-form-section {
  display: flex;
  flex-direction: column;
  min-width: 50%;
  gap: 30px;
  padding: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

.app-forms {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.displaySidebar {
  display: flex;
  flex-direction: column;
  min-width: 50%;
  
  gap: 30px;
  padding: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

.preview-gen-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.preview-name {
  font-weight: bold;
  font-style: italic;
}

.preview-study {
  font-style: italic;
}

.study-and-year {
  display: flex;
  justify-content: space-between;
}

